<div class="row">

    <!-- Blog Post Content Column -->
    <div class="col-lg-8">
         {{{bread}}}
        <!-- Blog Post -->

        <!-- Title -->
        <h1>{{title}}</h1>

        <!-- Author -->
        <p class="lead">
            by <a href="#">Alexander</a>
        </p>

        <hr>

        <!-- Date/Time -->
        <p><span class="glyphicon glyphicon-time"></span> Posted on {{created}}</p>
        <div class="id hidden" data-id="{{id}}"></div>

        <hr>

        <!-- Preview Image -->
        <img class="img-responsive" src="http://placehold.it/900x300" alt="">
        <hr>
        <!-- Post Content -->
        <p>{{{text}}}</p>
        <hr>
        {{#post_tags}}
            <a href="../tags/{{uri}}">{{title}}</a>
        {{/post_tags}}
        <hr>
        <!-- Comments Form -->
        <div class="well">
            <h4>Leave a Comment:</h4>
            <form role="form" name="comments_form" action="/comments/create" method="post">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" name="author" id="name" placeholder="Name" required>
                </div>
                <div class="form-group">
                    <label for="name">Comment:</label>
                    <textarea class="form-control" name="text" rows="3" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

        <hr>
        <!-- Posted Comments -->

        <!-- Comment -->
        <div class="comments">
            {{#comments}}
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="http://placehold.it/64x64" alt="">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">{{author}}
                            <small>{{created_date}}</small>
                        </h4>
                        {{text}}
                    </div>
                </div>
            {{/comments}}
        </div>
    </div>
    <!-- Blog Sidebar Widgets Column -->
    <div class="col-md-4">

        <!-- Blog Search Well -->
        <div class="well">
            <h4>Blog Search</h4>
            <div class="input-group">
                <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                        </button>
                        </span>
            </div>
            <!-- /.input-group -->
        </div>

        <!-- Blog Tags Well -->
        <div class="well">
            <h4>Blog Tags</h4>
            <div class="row">
                <div class="col-lg-6">
                    <ul class="list-unstyled">
                        {{#tags}}
                            <li><a href="../tags/{{uri}}">{{title}}</a></li>
                        {{/tags}}
                    </ul>
                </div>

            </div>
            <!-- /.row -->
        </div>

        <!-- Side Widget Well -->
        <div class="well">
            <h4>Side Widget Well</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus
                laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
        </div>

    </div>
</div>
<!--    Modal   -->
<div class="modal fade" id="modal-form" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->