<div class="container">
    <div class="row">
        <span>posted by: {{name}} on {{nice_date}}</span>
        <h1>{{title}}</h1>
        <div>{{{text}}}</div>
        {{#tags}}
            <a href="../Tags/{{uri}}">{{title}}</a>
        {{/tags}}
    </div>
</div>
