<h1>Dashboard</h1>
{{msg}}

<form action="Admin/post_add" method="post">
    <div>
        <label for="uri">URI</label>
        <input type="text" id="uri" name="uri" value="" placeholder="uri"/>
    </div>
    <div>
        <label for="title">title</label>
        <input type="text" id="title" name="title" value="" placeholder="title"/>
    </div>
    <div>
        <p>Short text</p>
        <textarea name="body" id="body" rows="10" cols="40" placeholder="short_text"> </textarea>
    </div>
    <div>
        <p>Post</p>
        <textarea name="body" id="body" rows="10" cols="40" placeholder="Post"> </textarea>
    </div>
    <input type="submit" value="Submit Post"/>
</form>


<a href="Admin/logout">logout</a>
<a href="http://192.168.33.10/My_blog/www/">Main page</a>
