<h1>Loin forms</h1>

<form action="Login/login" method="post"/>
    <input type="text" id="login" name="login" value="" placeholder="login"/>
    <input type="text" id="password" name="password" value="" placeholder="pass"/>
    <input type="submit"/>
</form>