AddDefaultCharset UTF-8
# Options +FollowSymLinks
Options -Indexes
DirectoryIndex index.php
RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1 !^(index\.php|i|robots\.txt)
RewriteRule ^(.*)$ index.php?/$1 [L,QSA]
