<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">My blog</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="/admin/auth/logout/"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                    </li>

                    <li>
                        <a href="/admin"><i class="fa fa-table fa-fw"></i> Posts</a>
                    </li>

                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Edit post</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Edit post
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6 col-lg-push-3">
                                {{#post}}
                                    <form id="add_post" role="form" action="/admin/posts/update_post/{{id}}"
                                          method="post">
                                        <div class="form-group">
                                            <label>Title</label>
                                            <input id="title_post" class="form-control" name="title" value="{{title}}"
                                                   placeholder="Enter title">
                                        </div>
                                        <div class="form-group">
                                            <label>Slug</label>
                                            <input id="slug_post" class="form-control" name="uri" placeholder="" value="{{uri}}"
                                                   disabled="disabled" >
                                        </div>
                                        <div class="form-group">
                                            <label>Preview</label>
                                            <input class="form-control" name="short_text" value="{{short_text}}"
                                                   placeholder="Enter short text">
                                        </div>
                                        <div class="form-group">
                                            <label>Tags</label>
                                            <select class="form-control select2_tags"  name="tags[]" multiple="true">
                                                {{#tags}}
                                                    <option value={{id}} selected>{{text}}</option>
                                                 {{/tags}}
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Visibility</label>
                                            <select class="form-control" name="is_visible">

                                                <option value="1">On</option>
                                                <option {{^is_visible}}selected="selected"{{/is_visible}} value="0">
                                                    Off
                                                </option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Post text</label>
                                            <textarea class="form-control ide" name="text" rows="3">{{text}}</textarea>
                                        </div>
                                        <input type="hidden" id="id" name="id" value="{{id}}">
                                        <input type="hidden" name="tags_id" value="{{#tags}}{{id}},{{/tags}}">
                                        <button type="submit" class="btn btn-default">Update</button>
                                    </form>
                                {{/post}}
                            </div>

                        </div>
                        <!-- /.row (nested) -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
